<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	
	<title>A little personal blog project</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css">
	
	<link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
	<header>
		<p class="blog-title">
			<a href="#">metalsmith<span class="tld">
				<span class="tld-dot">.</span>blog</span>
			</a>
		</p>
		<nav>
			<ul>
				<li>
					<a href="./about">about</a>
				</li>
				<li>
					<a href="./">writings</a>
				</li>
				<li>
					<a href="./tags" class="active">tags</a>
				</li>
				<li>
					<a href="./projects">projects</a>
				</li>
				<li>
					<a href="./talks">talks</a>
				</li>
				<li>
					<a href="./courses">courses</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="tags-list">
			<h1>tags</h1>
			<ul class="tags-wrap">
				<li><a>css</a></li>
				<li><a>html</a></li>
				<li><a>js</a></li>
				<li><a>reactJS</a></li>
				<li><a>nodeJS</a></li>
			</ul>

			<div>
				<span class="tag-title">
					<span class="text">css</span>
				</span>
				<span class="tag-title">
					<span class="text">html</span>
				</span>
				<span class="tag-title">
					<span class="text">js</span>
				</span>
				<span class="tag-title">
					<span class="text">reactJS</span>
				</span>
				<span class="tag-title">
					<span class="text">nodeJS</span>
				</span>
			</div>
		</section>
	</main>
	<footer>
		<p>© Sai Kishore Komanduri, 2018. To contact, <a href="#">email me</a>.</p>
	</footer>
</body>
</html>
