<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	
	<title>A little personal blog project</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css">
	
	<link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
	<header>
		<p class="blog-title">
			<a href="#">metalsmith<span class="tld">
				<span class="tld-dot">.</span>blog</span>
			</a>
		</p>
		<nav>
			<ul>
				<li>
					<a href="./about">about</a>
				</li>
				<li>
					<a href="./">writings</a>
				</li>
				<li>
					<a href="./tags">tags</a>
				</li>
				<li>
					<a href="./projects">projects</a>
				</li>
				<li>
					<a href="./talks" class="active">talks</a>
				</li>
				<li>
					<a href="./feeds">feeds</a>
				</li>
				<li>
					<a href="./courses">courses</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h1>talks</h1>
			<ul class="description-list">
				<li>
					<a href="#">Wrangling arrays like a boss 👊</a>
					<p class="desc">What? 🤔 At Hashnode, whenever we push our code upstream, we invite the rest of us, for a review of the same. These code review sessions, are uber awesome</p>
				</li>
				<li>
					<a href="#">Getting started with ES6</a>
					<p class="desc">Building a minimal todo app to explore the concepts of ES6.</p>
				</li>
				<li>
					<a href="#">Why Virtual DOM?</a>
					<p class="desc">Composition through components, one way data binding; I understand all that, but why Virtual DOM?”.</p>
				</li>
			</ul>
		</section>
	</main>
	<footer>
		<p>© Sai Kishore Komanduri, 2018. To contact, <a href="#">email me</a>.</p>
	</footer>
</body>
</html>
